<div *ngIf="project; else newProject">
    <div class="card mb-4">
        <div class="card-img-wrapper">
            <button routerLink="projects/{{ project.id }}" routerLinkActive="active" class="btn btn-primary" style="background-color: transparent; border: none; padding: 0;">
                <img src="./assets/gantt.svg" alt="{{ project.name }}" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;">
                <ul class="list-inline project-icons animate text-center">
                    <li class="list-inline-item">
                        <i class="fa fa-rectangle-list"></i>
                    </li>
                </ul>
            </button>
        </div>
        <div class="card-body p1 d-flex align-items-center justify-content-between">
            <p class="card-text text-muted text-center flex-grow-1 m-0">{{ project.name }}</p>
            <div class="dropdown">
                <button class="btn btn-link p-0 ms-auto" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm6 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li><button class="dropdown-item" type="button" (click)="deleteProject(project.id, project.name)">Delete Project</button></li>
                </ul>
            </div>
        </div>        
    </div>
</div>

<ng-template #newProject>
    <div class="card mb-4">
        <div class="card-img-wrapper">
            <button routerLink="create-project" routerLinkActive="active" class="btn btn-primary" style="background-color: transparent; border: none; padding: 0;">
                <img src="./assets/project.svg" alt="Create New Project" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;">
                <ul class="list-inline project-icons animate text-center">
                    <li class="list-inline-item">
                        <i class="fa fa-rectangle-list"></i>
                    </li>
                </ul>
            </button>
        </div>
        <div class="card-body p1">
            <p class="card-text text-muted text-center">Create Project</p>
        </div>
    </div>
</ng-template>
