@import 'dhtmlx-gantt/codebase/skins/dhtmlxgantt_material.css';
.gantt-chart{
    position: relative;
    width: 100%;
    height: 600px;
}

.gantt_task_line{
    background-color: #03A92C;
    border-radius: 10px;
}

.gantt_task_line .gantt_task_progress {
    background-color: #03562C; 
}


.weekend{ background: #d8d8d8 ;}

.status_line {
    background-color: #0ca30a;
}

.gantt-fullscreen {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    padding: 2px;
    font-size: 32px;
    background: transparent;
    cursor: pointer;
    opacity: 0.5;
    text-align: center;
    -webkit-transition: background-color 0.5s, opacity 0.5s;
    transition: background-color 0.5s, opacity 0.5s;
}

.gantt-fullscreen:hover {
    background: rgba(150, 150, 150, 0.5);
    opacity: 1;
}